<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="../../assets/stylesheet/application.css">
</head>
<body>
  <header>
    <ul class="left">
      <li class="left-li"><a href="#">Achieve</a></li>
      <li class="left-li"><a href="#">お問い合わせ</a></li>
    </ul>
    <ul class="right">
      <li class="right-li"><a href="#">サインアップ</a></li>
      <li class="right-li"><a href="#">ログイン</a></li>
    </ul>
  </header>
  <section class="about">
    <div class="about-content">
      <h1>Tweets All</h1>
      <table>
        <tr>
          <th>tweets</th>
        </tr>
      <% @tclones.each do |tclone| %>
        <tr>
          <td><%= tclone.content %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </section>
  <footer>
    <p>株式会社DOUSHIN</p>
    <p>© 2020 Copyright DOUSHIN Corp.</p>
  </footer>
</body>
</html>
